@import './colors';
@import './font';
@import './flex';
@import './top';
@import './sunrise_sunset';
@import './description';
@import './day';
@import './temp';
@import './main';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}